# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# firmware files
firmware/build/
firmware/dist/
firmware/nbproject/private/
firmware/nbproject/Package-*.bash
firmware/nbproject/Makefile-default.mk
firmware/nbproject/Makefile-genesis.properties
firmware/nbproject/Makefile-impl.mk
firmware/nbproject/Makefile-local-default.mk
firmware/nbproject/Makefile-variables.mk
firmware/.generated_files/

# hardware files
hardware/fp-info-cache
hardware/*.kicad_prl

hardware/MSF-Battery-monitor.pdf

*.pdf
